body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#button-container{
    text-align:center;
}

.button{
padding: 10px 20px;
font-size: 1.5rm;
color: white;
background-color: hsl(214, 100%, 74%);
border-radius: 5px;
cursor: pointer;
transition: background-color 0.25s;
}

.button:hover{
    background-color: hsl(214, 100%, 54%);
}